a {
  display: block;
  font-size: 10vh;
  text-decoration: none;
  color: black;
  background-color: #44aa88;
  padding: 3vh 4vw;
  border-radius: 2vh;
  transition: ease-in 0.2s;
}

a:hover {
  background-color: #aa4488;
  font-size: 11vh;
}

#c {
  height: 100%;
  width: 100%;
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  margin: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}